keyboard/planck/dfu-programmer.exe
.dep
*.o
*.eep
*.elf
*.hex
*.lss
*.lst
*.map
*.sym
*.swp
tags
*~
build/
*.bak
.vagrant/
keyboard/ergodox_ez/error
.DS_STORE

# Eclipse Settings
.cproject
.project
.settings/
